<div class="panel panel-default" id="panWrite">
	<div class="panel-body form-inline">
		<div class="form-group">
			<input type="text" class="form-control" id="inputName" ng-model="input.name" placeholder="Name">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" ng-model="input.passwd" placeholder="Password">
		</div>
		<div class="form-group">
			<input type="email" class="form-control" ng-model="input.email" placeholder="Email">
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Remember me
			</label>
		</div>
	</div>
	<div class="panel-body">
		<textarea id="inputNote" class="form-control" ng-model="input.note" placeholder="Comment" aria-describedby="basic-addon1"></textarea>
	</div>
	<div class="panel-footer">
		<button class="btn btn-default" type="button" ng-click="action()">Save</button>
		<button class="btn btn-default" onclick="history.go(-1);">Cancel</button>
	</div>
</div>